@import "tailwindcss";
@plugin "daisyui";

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #e2e8f0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
